.abcd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	font-weight:bold;
}
.numerosPedido{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
}
#divContent {
	position:absolute;
	width:605px;
	height:469px;
	z-index:1;
	top: 2px;
	left: -5px;
}
#infoCliente200 {
	position:absolute;
	width:622px;
	height:162px;
	z-index:1;
	top: 3px;
	left: 2px;
}
#shopping {
	position:absolute;
	width:94px;
	height:34px;
	z-index:1;
	left: 9px;
	top: 0px;
}
#datos {
	position:absolute;
	width:249px;
	height:70px;
	z-index:2;
	top: 44px;
	left: 7px;
}
#NomCliente {
	position:absolute;
	width:183px;
	height:17px;
	z-index:3;
	left: 108px;
	top: 18px;
}
.clienteNombre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666;
	}
#divBarritaTablaPedido {
	position:absolute;
	width:222px;
	height:19px;
	z-index:4;
	left: 313px;
	top: 17px;
}
.blancoEncabezado{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#FFF;
	font-weight:bold;
}
#tablaCorridas {
	position:absolute;
	width:222px;
	height:77px;
	z-index:5;
	left: 313px;
	top: 17px;
}
#boton2 {
	position:absolute;
	width:225px;
	height:22px;
	z-index:6;
	left: 314px;
	top: 108px;
}
#shopBoton {
	position:absolute;
	width:99px;
	height:17px;
	z-index:1;
	top: 1px;
}
#checkoBoton {
	position:absolute;
	width:79px;
	height:18px;
	z-index:2;
	left: 139px;
}
#lineaDivi {
	position:absolute;
	width:530px;
	height:7px;
	z-index:7;
	top: 163px;
	left: 9px;
}
.descripcion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
}
	
	
#desMaterial {
	position:absolute;
	width:575px;
	height:18px;
	z-index:8;
	left: 6px;
	top: 173px;
}
#pedidoShoes200 {
	position:relative;
	width:590px;
	height:222px;
	z-index:9;
	top: 197px;
	left: 3px;
	overflow:auto;
}
#contenidoCarrito200 {
	position:relative;
	width:565px;
	height:90px;
	z-index:1;
	left:0px;
	top: 27px;
}
#Foto {
	position:absolute;
	width:73px;
	height:73px;
	z-index:1;
	left: 1px;
	top: 14px;
}
#divNomEstilo {
	position:absolute;
	width:201px;
	height:15px;
	z-index:2;
	left: 2px;
	top: -3px;
}
#abcdTabla200 {
	position:absolute;
	width:100px;
	height:41px;
	z-index:3;
	top: 18px;
	left: 140px;
}
.materialColor{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
}
.combito{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
	
}
#corridas {
	position:absolute;
	width:201px;
	height:37px;
	z-index:4;
	left: 256px;
	top: 19px;
}
#precio {
	position:absolute;
	width:47px;
	height:14px;
	z-index:5;
	left: 460px;
	top: 22px;
}
#total {
	position:absolute;
	width:47px;
	height:14px;
	z-index:6;
	left: 512px;
	top: 22px;
}
#divTotalCorridas {
	position:absolute;
	width:55px;
	height:31px;
	z-index:15;
	left: 304px;
	top: 424px;
}
#divTotalPedido {
	position:absolute;
	width:111px;
	height:18px;
	z-index:3;
	left: 439px;
	top: 424px;
}
#divImgTotal {
	position:absolute;
	width:102px;
	height:16px;
	z-index:1;
	left: 2px;
	top: 0px;
}
#divNomTotal2 {
	position:absolute;
	width:33px;
	height:12px;
	z-index:1;
	top: 3px;
	left: 5px;
}
#divCantidadPedido {
	position:absolute;
	width:66px;
	height:12px;
	z-index:10;
	left: 479px;
	top: 397px;
	
}
