#divTransDistribuidor2 {
	position:absolute;
	width:161px;
	height:14px;
	z-index:27;
	left: 342px;
	top: 312px;
}
#divObsGuiaTieeDistribuidor2 {
	position:absolute;
	width:159px;
	height:14px;
	z-index:28;
	left: 342px;
	top: 337px;
}
#divConSeguroTienDistribuidor2 {
	position:absolute;
	width:16px;
	height:17px;
	z-index:29;
	left: 2px;
	top: 380px;
}
#divObsTienDistribuidor2 {
	position:absolute;
	width:492px;
	height:15px;
	z-index:30;
	left: 2px;
	top: 403px;
}
#divConCrearUsuWebTiend2Distribuidor2 {
	position:absolute;
	width:499px;
	height:29px;
	z-index:31;
	left: 9px;
	top: 356px;

}
#divEmail2RegistraClie {
	position:absolute;
	width:97px;
	height:15px;
	z-index:1;
	top: 7px;
	left: 334px;
	text-align: right;
}
#divGenerarRegistraCliente {
	position:absolute;
	width:82px;
	height:24px;
	z-index:2;
	left: 19px;
	top: 97px;
	text-align: center;
}
#divContrasenaCliente {
	position:absolute;
	width:97px;
	height:16px;
	z-index:3;
	top: 95px;
	left: 72px;
	text-align: right;
	
}
#divNomRegistraClie {
	position:absolute;
	width:97px;
	height:16px;
	z-index:4;
	left: 141px;
	top: 7px;
	text-align: right;
}

#divGuardarUsuarioTienda {
	position:absolute;
	width:120px;
	height:26px;
	z-index:32;
	left: 739px;
	top: 397px;
	text-align: center;
}
#divCrearURegistraCli {
	position:absolute;
	width:123px;
	height:19px;
	z-index:5;
	left: 0px;
	top: -23px;
	text-align: center;
}
#divUsuarioCombos {
	position:absolute;
	width:191px;
	height:57px;
	z-index:33;
	left: 606px;
	top: 201px;
	overflow:auto;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#divTiendasDistribuidor2 {
	position:absolute;
	width:52px;
	height:12px;
	z-index:34;
	left: 6px;
	top: 169px;
}
#divBtnCrearUsuario {
	position:absolute;
	width:110px;
	height:29px;
	z-index:6;
	left: 11px;
	top: 148px;
	text-align: center;
}
#divConSecuTIenda {
	position:absolute;
	width:564px;
	height:419px;
	z-index:2;
	left: 182px;
	top: 30px;
}
#divClienteResgistraCli {
	position:absolute;
	width:200px;
	height:14px;
	z-index:1;
	left: 58px;
	top: 8px;
}
#divBuscar2Tienda {
	position:absolute;
	width:81px;
	height:25px;
	z-index:2;
	left: 400px;
	top: 15px;
	text-align: center;
}
#divPaisRegistraDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:3;
	left: 96px;
	top: 32px;
}
#divEstadoRegistraDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:4;
	left: 96px;
	top: 59px;
}
#divPoblacionRegistraDistribuidor {
	position:absolute;
	width:144px;
	height:19px;
	z-index:5;
	left: 96px;
	top: 86px;
}
#divCalleRegistraDistribuidor2 {
	position:absolute;
	width:200px;
	height:14px;
	z-index:6;
	left: 317px;
	top: 32px;
}
#divColoniaRegistraDistribuir {
	position:absolute;
	width:200px;
	height:14px;
	z-index:7;
	left: 317px;
	top: 59px;
}
#divCpDistribuidor {
	position:absolute;
	width:72px;
	height:14px;
	z-index:8;
	left: 317px;
	top: 86px;
}
#divRfcDistribuidor {
	position:absolute;
	width:72px;
	height:14px;
	z-index:9;
	left: 467px;
	top: 86px;
}
#divTelDistribuidor2 {
	position:absolute;
	width:72px;
	height:14px;
	z-index:10;
	left: 317px;
	top: 111px;
}
#divEmailDistribuidor2 {
	position:absolute;
	width:72px;
	height:14px;
	z-index:11;
	left: 467px;
	top: 111px;
}
#divTipoCliDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:12;
	left: 96px;
	top: 111px;
}
#divObsDistribuidor2 {
	position:absolute;
	width:576px;
	height:15px;
	z-index:13;
	left: 7px;
	top: 135px;
}
#divObTxtRegistraDistribuidor2 {
	position:absolute;
	width:579px;
	height:45px;
	z-index:14;
	left: 6px;
	top: 182px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
#divTiendaDistribuidor {
	position:absolute;
	width:120px;
	height:14px;
	z-index:15;
	left: 80px;
	top: 246px;
}

#divTelTieDistribuidor {
	position:absolute;
	width:35px;
	height:14px;
	z-index:18;
	left: 468px;
	top: 288px;
}
#divEncarDistribuidor2 {
	position:absolute;
	width:120px;
	height:14px;
	z-index:19;
	left: 79px;
	top: 267px;
}
#divPaisTieDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:20;
	left: 96px;
	top: 287px;
}
#divEstadoTiDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:21;
	left: 96px;
	top: 312px;
}
#divPoblaTiDistribuidor2 {
	position:absolute;
	width:144px;
	height:19px;
	z-index:22;
	left: 96px;
	top: 337px;
}
#divCalletiendaDistri2 {
	position:absolute;
	width:200px;
	height:14px;
	z-index:23;
	left: 317px;
	top: 246px;
}
#divColoniaTiendaDistribuidor2 {
	position:absolute;
	width:106px;
	height:14px;
	z-index:24;
	left: 317px;
	top: 267px;
}
#divCpTDistribuidor2 {
	position:absolute;
	width:35px;
	height:14px;
	z-index:25;
	left: 317px;
	top: 288px;
}
.combos{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#666;
		
}
#divContenedorAunDistribuidor2 {
	position:absolute;
	left:0px;
	top:3px;
	width:826px;
	height:458px;
	z-index:1;

	
}
#divNuevoCliRegistraClientes {
	position:absolute;
	width:187px;
	height:36px;
	z-index:1;
	left: 183px;
	top: -10px;
}

/** CLASES**/

.datosClienteTienda {	
    color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.campoTxtTipo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	height:14px;
	text-align:left;
}

.combitoContactoDis{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999;
	width:auto;
	height:16px;
	}
	
	.InfoPasarelaCompleta{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#000;
	
}

#divCalleDistribuidor2 {
	position:absolute;
	width:38px;
	height:13px;
	z-index:39;
	left: 265px;
	top: 34px;
}
#divColClieDistribuidor2 {
	position:absolute;
	width:48px;
	height:13px;
	z-index:40;
	left: 265px;
	top: 60px;
}
#divCPDistribuidor2 {
	position:absolute;
	width:22px;
	height:13px;
	z-index:41;
	left: 265px;
	top: 89px;
}
#divRFDistribuidor2 {
	position:absolute;
	width:28px;
	height:13px;
	z-index:42;
	left: 433px;
	top: 89px;
}
#divTelClieDistribuidor2 {
	position:absolute;
	width:27px;
	height:13px;
	z-index:43;
	left: 265px;
	top: 113px;
}
#divEmaDistribuidor2 {
	position:absolute;
	width:32px;
	height:13px;
	z-index:44;
	left: 432px;
	top: 113px;
}
#divClieClienteDistribuidor2 {
	position:absolute;
	width:46px;
	height:13px;
	z-index:45;
	left: 8px;
	top: 8px;
}
#divPaisDistribuidor2 {
	position:absolute;
	width:35px;
	height:13px;
	z-index:46;
	left: 8px;
	top: 34px;
}
#divEdoCliDistribuidor2 {
	position:absolute;
	width:47px;
	height:13px;
	z-index:47;
	left: 8px;
	top: 60px;
}
#divPobClieDistribuir {
	position:absolute;
	width:61px;
	height:13px;
	z-index:48;
	left: 8px;
	top: 89px;
}
#divTipDistribuidor2 {
	position:absolute;
	width:86px;
	height:13px;
	z-index:1;
	left: -50px;
	top: 106px;
}

#divBusquedaCliente {
	position:absolute;
	left:79px;
	top:113px;
	width:520px;
	height:200px;
	z-index:2;
	background-color: #FFFFFF;
	visibility: hidden;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#divBusquedaClienteCerrar {
	position:absolute;
	width:67px;
	height:25px;
	z-index:1;
	left: 613px;
	top: -106px;
}
#divEmaClieTienda {
	position:absolute;
	width:39px;
	height:13px;
	z-index:9;
	top: 5px;
	left: 288px;
}
#divNameClieTienda {
	position:absolute;
	width:111px;
	height:13px;
	z-index:10;
	top: 5px;
	left: 1px;
}
#divContClieTienda {
	position:absolute;
	width:68px;
	height:13px;
	z-index:11;
	top: 96px;
	left: 3px;
}

#divBtnBuscarDistribuidor2 {
	position:absolute;
	width:57px;
	height:20px;
	z-index:35;
	left: 366px;
	top: 5px;
}
#divConSSeguroTIeNDistribuidor2 {
	position:absolute;
	width:72px;
	height:13px;
	z-index:36;
	left: 22px;
	top: 380px;
}
#divIcoCerrarTienda {
	position:absolute;
	width:13px;
	height:13px;
	z-index:3;
	left: 778px;
	top: 7px;
}
#divCerrarTienda {
	position:absolute;
	width:29px;
	height:13px;
	z-index:4;
	left: 745px;
	top: 7px;
}
#divGenerarTienda {
	position:absolute;
	width:57px;
	height:21px;
	z-index:7;
	left: 2px;
	top: 54px;
}
#divCrUsuTienda {
	position:absolute;
	width:103px;
	height:22px;
	z-index:8;
	left: 129px;
	top: 122px;
}
#divGuarUsuarioDistribuidor2 {
	position:absolute;
	width:104px;
	height:22px;
	z-index:37;
	left: 488px;
	top: 359px;
}
#divCrearUsuario {
	position:absolute;
	width:106px;
	height:23px;
	z-index:8;
	left: 2px;
	top: 119px;
}
#divNuevoDistribuidor2 {
	position:absolute;
	width:48px;
	height:14px;
	z-index:38;
	left: 431px;
	top: 7px;
	color: #FFF;
}

.registraClientesBlack{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	
}

a:link {
	text-decoration: none;
	color: #999;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #666;
}
a:active {
	text-decoration: none;
}
#divTieClieDistribuidor {
	position:absolute;
	width:41px;
	height:13px;
	z-index:49;
	left: 8px;
	top: 247px;
}
#divTelClieTieDistribuidor2 {
	position:absolute;
	width:23px;
	height:13px;
	z-index:50;
	left: 433px;
	top: 289px;
}
#divPaiDistribuidor2 {
	position:absolute;
	width:31px;
	height:13px;
	z-index:51;
	left: 8px;
	top: 290px;
}
#divEdoCliTiDistribuidor2 {
	position:absolute;
	width:43px;
	height:13px;
	z-index:52;
	left: 8px;
	top: 314px;
}
#divPobClieTieDistribuidor2 {
	position:absolute;
	width:62px;
	height:13px;
	z-index:53;
	left: 8px;
	top: 339px;
}
#divEncarClieEncarDistribuidor2 {
	position:absolute;
	width:67px;
	height:13px;
	z-index:54;
	left: 8px;
	top: 268px;
}
#divCalleClieDistribuidor2 {
	position:absolute;
	width:35px;
	height:13px;
	z-index:55;
	left: 265px;
	top: 247px;
}
#apDiv8 {
	position:absolute;
	width:102px;
	height:25px;
	z-index:1;
	left: 446px;
	top: 33px;
}
#divColTieDistribuidor2 {
	position:absolute;
	width:49px;
	height:13px;
	z-index:1;
	left: -53px;
	top: 209px;
}
#divCPClieDistribuidor2 {
	position:absolute;
	width:24px;
	height:13px;
	z-index:56;
	left: 265px;
	top: 289px;
}
#divTransClieTiDistribuidor2 {
	position:absolute;
	width:69px;
	height:13px;
	z-index:1;
	top: 314px;
	left: 264px;
}
#divObsClieTieDistribuidor2 {
	position:absolute;
	width:49px;
	height:13px;
	z-index:57;
	left: 265px;
	top: 339px;
}
