#contenidoIndex {
	position: absolute;
	width:1000px;
	height: 560px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size:14px;
	z-index:1;
	left: 0px;
	top: 2px;
	background-color:#FFF;
}
